body {
    background: black;
    color: white; /*makes text white*/
    display: flex; /*display flex changes rotation of target element*/
    flex-direction: column; /*by default display makes everything into a row now saying turn to column*/
    align-items: center; /*centers text horizontally*/
    justify-content: center; /*centers vertically*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;

}

li{
    margin-right: 20px; /*10 pixels*/
    list-style-type: none;

}
